html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#home {
    font-size: 20px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgb(2, 191, 2);
}

.Home {
    margin-right: 10px;
}

.Header {
    flex-grow: 1;
    text-align: center;
}

/* Increase the size of the icons and add cursor pointer */
.fa-solid {
    font-size: 2em; /* Adjust the size as needed */
    cursor: pointer; /* Add cursor pointer */
}

/* Increase the size of the heading */
h1 {
    font-size: 3em; /* Adjust the size as needed */
}
gvmc
Fruit and nut
